.container-fluid h1 {
    font-size: 3rem;
    color: #333;
}
.form-control {
    border-radius: 0;
    border: 1px solid #9F9F9F;
}
.form-control:focus {
    box-shadow: none;
    border-color: #B88E2F;
}
.cart-header {
    background-color: #FAF3EA;
}
.cart-item-img {
    width: 100%;
    max-width: 100px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    background-color: #FAF3EA;
}
.qty-input {
    width: 60px;
    text-align: center;
    border-radius: 0;
}
.qty-input:focus {
    box-shadow: none;
    border-color: #B88E2F;
}
.cart-totals {
    background-color: #FAF3EA;
}
.checkout-btn {
    background: transparent;
    border: 1px solid #000;
    border-radius: 0;
    padding: .8rem 1.5rem;
    font-weight: bold;
}

.checkout-btn:hover {
    background-color: #000;
    color: #fff;
}
.btn:hover {
    background-color: #9c7526 ;
}
.bi {
    color: #B88E2F;
}
footer a:hover {
    color: #B88E2F !important;
}
footer input.form-control {
    border-radius: 0;
    border-bottom: .01rem solid #9F9F9F;
    border-top: none;
    border-left: none;
    border-right: none;
}